<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="btn-group">
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Clientes
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href='@Url.Action("Index", "Principal")'>Listagem de Clientes</a></li>
                    <li><a href='@Url.Action("NovoCliente", "Principal")'>Novo Cliente</a></li>
                </ul>
            </div>
            @*<div class="nav-collapse">
                <ul class="nav">
                    <li><a class="brand" href='teste.com.br'>Pedidos</a></li>
                    <li><a class="brand" href='teste.com.br'>Usuarios</a></li>
                </ul>
            </div>*@
        </div>
    </div>
</div>



