<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Sushi Wa Japanese Restaurant">
    <meta name="author" content="AnS Media">

    <title>Shokudo</title>

    <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/site.css" rel="stylesheet" type="text/css" />

    <script src="../../Content/scripts/modernizr-2.6.2.js" type="text/javascript"></script>
    <script src="../../Content/scripts/jquery-1.8.2.js"></script>
    <script src="../../Content/scripts/bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/scripts/autoNumeric-1.7.5.js"></script>
    <script src="../../Content/scripts/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="../../Content/scripts/googleanalytics.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        @Html.Partial("_Navigation")

        @RenderBody()
        <body background="~/Content/images/a.jpg" ></body>
    </div>
    <!-- /container -->
    <div id="ajaxBusy">
        <p>
            <img src="~/Content/images/ajax-loader.gif" class="spinner" />
        </p>
    </div>
</body>
</html>
