@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1 style="text-align: center;">Lista de Clientes</h1>
<table border='0' background='ffffff' align='center' valign='top' width="88%">
    <tr>
        <td bgcolor='ffffff' align='top'></div>
                <div class="row" style="margin: 0px 0px 0px 11px">
                    <div class="page-header">
                        <h2 id="our-mission">Digite o telefone do cliente</></h2>
                    </div>
                    @*Bootstrap form*@
                    @using (Html.BeginForm("PesquisarCliente", "Principal"))
                    {
                        <form class="form-search">
                            <span>Telefone:</span>
                            <input type="text"  class="input-medium search-query" />
                            <input type="submit" value="Pesquisar" class="btn" />
                        </form>
                    }
                </div>
        </td>
    </tr>
</table>
